* {
    margin: 0;
    padding: 0;
}

.footer {
    padding: 1em 6em;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    background-color: #000;
    display: flex;
    gap: 3em;
    flex-direction: row;
    align-items: center;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left-color: #fff;
    border-left-style: solid;
    border-right-color: #fff;
    border-right-style: solid;
    padding: 0 2em;
    gap: 1em;
}

.company-logo {
    height: 6em; 
}

.social-icon {
    height: 2em;
}

.copyright {
    font-family: 'Nunito', sans-serif;
    color: #fff
}