@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: 1.5fr 8fr;
    grid-template-rows: 1fr 5fr 1fr;
}

.header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: #333;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    padding: 0.5em;
}

.sidebar {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    padding: 1.5em 2em;
    margin: 2em 0;
    border-right-style: solid;
    border-right-color:#333;
    border-right-width: 1.5px;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.action-button {
    color: #555;
    font-weight: 500;
}

.action-button:hover {
    color: #333;
    font-weight: 700;
}

.logo {
    display: flex;
    gap: 1em;
    grid-column: 1 / 2;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo.header {
    height: 6em;
}

.logo-text.header {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.85);
    padding: 0.5em 0.75em;
    border-left-style: solid;
    border-left-color: #fff;
    border-left-width: 1.5px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.25em;
    grid-column: 3 / 4;
    align-items: center;
}

.nav-button {
    color: #fff;
    padding: 1em;
    font-weight: 500;
}

.nav-button:hover {
    font-weight: 700;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.app-content {
    padding: 3em 5em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.app-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.app-name {
    font-size: 1.75em;
    font-weight: 500;
    color: #000;
    grid-column: 1 / 2;
}

.user-session {
    grid-column: 2 / 3;
    display: flex;
    gap: 2em;
    flex-direction: row;
    align-items: center;
}

#bookshelf {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 10vw));
}

.book-item {

}

.username {
    font-size: 1em;
    font-weight: 300;
    color: #555;
    padding: 0.5em 1em;
    border-left-style: solid;
    border-left-width: 0.5px;
    border-left-color: #555;
}

.footer {
    padding: 1em 6em;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    background-color: #000;
    display: flex;
    gap: 3em;
    flex-direction: row;
    align-items: center;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left-color: #fff;
    border-left-style: solid;
    border-right-color: #fff;
    border-right-style: solid;
    padding: 0 2em;
    gap: 1em;
}

.company-logo {
    height: 6em; 
}

.social-icon {
    height: 2em;
}

.copyright {
    color: #fff
}