@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: 1.5fr 8fr;
    grid-template-rows: 1fr 5fr 1fr;
    min-height: 100vh;
}

.header {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    background-color: #333;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-rows: 1fr;
    padding: 0.5em;
}

.sidebar {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    display: flex;
    padding: 1.5em 2em;
    margin: 2em 0;
    border-right-style: solid;
    border-right-color:#333;
    border-right-width: 1.5px;
}

.actions {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.action-button {
    color: #555;
    font-weight: 500;
}

.action-button:hover {
    color: #333;
    font-weight: 700;
}

.logo {
    display: flex;
    gap: 1em;
    grid-column: 1 / 2;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo.header {
    height: 6em;
}

.logo-text.header {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    color: rgba(255, 255, 255, 0.85);
    padding: 0.5em 0.75em;
    border-left-style: solid;
    border-left-color: #fff;
    border-left-width: 1.5px;
}

.navigation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.25em;
    grid-column: 3 / 4;
    align-items: center;
}

.nav-button {
    color: #fff;
    padding: 1em;
    font-weight: 500;
}

.nav-button:hover {
    font-weight: 700;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.app-content {
    padding: 3em 5em;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1em;
}

.app-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.app-name {
    font-size: 1.75em;
    font-weight: 500;
    color: #000;
    grid-column: 1 / 2;
}

.user-session {
    grid-column: 2 / 3;
    display: flex;
    gap: 2em;
    flex-direction: row;
    align-items: center;
}

#bookshelf {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 10vw));
    gap: 2em;
}

.book-item {
    padding: 1.5em;
    border-radius: 8px;
    box-shadow: 0.25em 0.25em 0.1em 0 #bbb;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 2fr repeat(4, 1fr);
    gap: 0.5em;
}

.book-title {
    font-weight: 700;
    font-size: 1em;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    align-self: center;
}

.book-author {
    font-weight: 500;
    color: #777;
    font-size: 0.5em;
    grid-column: 1 / 3;
    grid-row: 2 / 3;
}

.book-status {
    background-color: rgb(231, 127, 1);
    color: #fff;
    padding: 0.5em 1.5em;
    border-radius: 0.5em;
    font-weight: 700;
    font-size: 0.5em;
    grid-row: 5 / 6;
    grid-column: 3 / 5;
    justify-self: center;
    align-self: center;
}

.book-pages {
    font-size: 0.5em;
    grid-column: 1 / 3;
    grid-row: 5 / 6;
    align-self: center;
    justify-self: center;
}

.username {
    font-size: 1em;
    font-weight: 300;
    color: #555;
    padding: 0.5em 1em;
    border-left-style: solid;
    border-left-width: 0.5px;
    border-left-color: #555;
}

.panel:modal {
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    padding: 2em;
    border-style: none;
    align-self: center;
    justify-self: center;
    gap: 0.5em;
    width: min(750px, 50vw);
}

.panel-title {
    font-size: 2.5em;
    padding: 1em 0;
    padding-top: 0;
    justify-self: left;
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.panel-label {
    font-weight: 500;
    font-size: 1em;
}

.panel-input {
    background-color: #eee;
    font-size: 1em;
    padding: 0.5em;
    border-radius: 1em;
    border-color: #ddd;
    border-style: solid;
    border-width: 1px;
}

.panel-input:placeholder-shown {
    font-weight: 300;
}

.panel-button {
    font-size: 1em;
    padding: 0.5em 1em;
    border-radius: 1em;
    border-color: #000;
    font-weight: 300;
    border-style: solid;
    border-width: 1.5px;
    width: 3.5em;
    text-align: center;
}

.input-container-horizontal {
    display: flex;
    gap: 1em;
}

.panel-button:hover {
    font-weight: 500;
    border-width: 2px;  
}

.panel-bottom {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
}

.panel::backdrop {
    background-color: rgba(0, 0, 0, 0.3);
}
.panel-top  {
    display: flex;
    align-items: center;
    gap: 1.2em;
}

.panel-icon {
    height: 2.5em;
}

.footer {
    padding: 1em 6em;
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    background-color: #000;
    display: flex;
    gap: 3em;
    flex-direction: row;
    align-items: center;
}

.social {
    display: flex;
    flex-direction: row;
    align-items: center;
    border-left-color: #fff;
    border-left-style: solid;
    border-right-color: #fff;
    border-right-style: solid;
    padding: 0 2em;
    gap: 1em;
}

.company-logo {
    height: 6em; 
}

.social-icon {
    height: 2em;
}

.copyright {
    color: #fff
}

[selected = true] {
    border-style: solid;
    border-width: 2px;
}